html {
  font-family: "PT Serif", serif;
  background-color: #c9b5ae;
}

h1 {
  font-family: "PT Sans";
  font-weight: bold;
}

nav ol {
  list-style-type: none;
  font-family: "PT Sans";
  font-weight: bold;
  color: maroon;
}

a, a:link {
  text-decoration: none;
  color: maroon;
}

a:hover {
  color: black;
  text-decoration: underline;
}

figure figcaption {
  font-style: italic;
  text-align: center;
}

img {
  width: 100%;
}

.subhead {
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-family: "PT Sans";
  font-weight: bold;
  color: black;
}

.serving {
  font-style: italic;
}

dt {
  font-weight: bold;
}

ol {
  list-style-type: lower-greek;
}

ul {
  list-style-type: circle;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5;
}

strong {
  font-weight: normal;
}
